package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;

import java.util.List;
import java.util.Map;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${mainPath}.common.utils.PageUtils;
import ${mainPath}.common.utils.Query;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.I${className}Service;


@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Dao, ${className}> implements I${className}Service {
    @Autowired
    private ${className}Dao ${classname}Dao;

    @Override
    public PageUtils queryPage(Map<String, Object> params) {
        IPage<${className}> page = this.page(
                new Query<${className}>().getPage(params),
                new QueryWrapper<${className}>()
        );

        return new PageUtils(page);
    }

    @Override
    public List<${className}> getAll() {
        return ${classname}Dao.getAll();
    }

}